@import url(./components/header.css);
@import url(./pages/about.css);
@import url(./components/carousel.css);
@import url(./components/bandMember.css);
@import url(./pages/news.css);
@import url(./components/newsPost.css);
@import url(./components/footer.css);
@import url(./pages/index.css);
@import url(./components/mobileNav.css);
@import url(./components/overlay.css);
@import url(./abstracts/colors.css);
@import url(./pages/music.css);

/* NEW STYLES FOR V2 */
.news-posts {
  margin-top: 2em !important;
}

.headline-post {
  margin-bottom: 2em !important;
  border-bottom: 2px solid var(--color-accent) !important;
  padding-bottom: 2em !important;
}

.headline-post.last {
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

.headline-post-text h3 {
  margin-top: 0 !important;
}

.headline-post img {
  margin: 0 auto !important;
}

.post-image img {
  max-width: 100% !important;
}

.focused-post a {
  color: blue;
}

.focused-post {
  width: 100% !important;
}

.overlay-content-container {
  position: absolute !important;
  top: -30% !important;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .posts {
    margin-top: 0;
  }

  .overlay-content {
    width: 90vw !important;
  }
}

.headline-post-mobile {
  position: unset;
}

.headline-post-mobile.focused {
  position: relative !important;
}

@media screen and (max-width: 560px) {
  .overlay-content {
    width: auto !important;
  }
}

/* END OF STYLES FOR V2 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
  min-height: 100vh;
}

main,
header,
footer,
section {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

main {
  padding: 0 1em;
}

img,
iframe {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

li {
  list-style: none;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  color: var(--color-white);
}

.content-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-x: hidden;
  padding: 0 1em;
}
@media (min-width: 768px) {
  .content-wrapper {
    margin-top: 0;
  }
}

.page-title {
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
  color: var(--color-accent);
  font-size: 40px;
}

.page-text p {
  max-width: 800px;
  margin: 2em auto;
}

.page-text h2 {
  text-align: center;
}
