.post {
  max-width: 400px;
  height: 400px;
  padding: 0 1em;
  cursor: pointer;
}

.post-title {
  text-align: center;
  height: 50px;
}

.post-thumbnail {
  height: 200px;
  margin: auto;
}

.post-excerpt {
  margin-top: 2em;
}

.learn-more {
  color: blue;
}

.learn-more:hover,
.learn-more:focus {
  text-decoration: underline;
}
