@import url(./components/header.css);
@import url(./pages/about.css);
@import url(./components/carousel.css);
@import url(./components/bandMember.css);
@import url(./pages/news.css);
@import url(./components/newsPost.css);
@import url(./components/footer.css);
@import url(./pages/index.css);
@import url(./components/mobileNav.css);
@import url(./components/overlay.css);
@import url(./abstracts/colors.css);
@import url(./pages/music.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1em;
  background-color: var(--color-background);
  color: var(--color-white);
  min-height: 100vh;
}

main,
header,
footer,
section {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

main {
  padding: 0 1em;
}

img,
iframe {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}
li {
  list-style: none;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  color: var(--color-white);
}

.content-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-top: 2em;
}
@media (min-width:768px) {
  .content-wrapper {
    margin-top: 0;
  }
}

.page-title {
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
  color: var(--color-accent);
  font-size: 40px;
}

.page-text p {
  max-width: 800px;
  margin: 2em auto;
}

.page-text h2 {
  text-align: center;
}
