@import url('./components/header.css');
@import url('./pages/about.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1em;
}

main,
header,
footer,
section {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}
