.band-member {
  height: 400px;
}

.band-member-pic {
  height: 300px;
  width: auto;
}

.band-member-pic img {
  display: block;
  width: auto;
  margin: auto;
  max-height: 300px;
  max-width: 100%;
}

.band-member-info h2 {
  margin-bottom: 0;
}

.band-member-info p {
  margin: 0;
}

@media screen and (max-width: 450px) {
  .band-member {
    height: auto;
    margin-bottom: 1em;
  }

  .band-member-pic {
    height: auto;
  }

  .band-member-info h2 {
    margin-top: 0.5em;
  }
}
