.post {
  max-width: 400px;
  height: 400px;
  width: 100%;
  padding: 1em;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 10px;
}

.post:hover,
.post:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: box-shadow 0.5s ease-in-out;
}

.post-title {
  text-align: center;
  height: 50px;
}

.post-thumbnail {
  height: 200px;
  margin: auto;
}

.post-excerpt {
  margin-top: 2em;
}

.learn-more {
  color: var(--color-accent);
}

.learn-more:hover,
.learn-more:focus {
  text-decoration: underline;
}

.posts a:hover,
.posts a:focus {
  text-decoration: underline;
}
